tensorflow==2.4.1
cython
hyperopt
lightgbm
ml-metrics
statsmodels
matplotlib
kaggle @ git+https://github.com/dickmao/kaggle-api.git@slugify#egg=kaggle
xgboost
boto3
google-api-python-client
google-auth
gsutil
